.header1 {
  background: linear-gradient(to right, #000000 0%, #0253cc 100%);
}

.page-container{
  height: calc(100vh - 75px) !important
}

.h-total-pool {
  color: #de5c9d;
}

.h-total-pool-bd {
  background-color: #f7d6e6;
}

.h-total-application {
  color: #8540f5;
}

.h-total-application-bd {
  background-color: #e0cffc;
}

.h-total-accepted {
  color: #479f76;
}

.h-total-accepted-bd {
  background-color: #d1e7dd;
}

.h-total-pending {
  color: #e35d6a;
}

.h-total-pending-bd {
  background-color: #f8d7da;
}

.h-application-strategy {
  color: #fd9843;
}

.h-application-strategy-bd {
  background-color: #ffe5d0;
}

.h-icon {
  width: 50px !important;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.p-icon {
  width: 40px !important;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.p-total-pool {
  color:#3d8bfd;
}

.p-total-pool-bd {
  background-color: #cfe2ff;
}

.p-total-distibuted {
  color:#e35d6a;
}

.p-total-distibuted-bd {
  background-color: #f8d7da;
}

.p-60vh {
  height: 50vh;
}
.p-table-bg{
  background-color: #f8f9fa;
}
.p-table-header{
  color: #e9ecef;
}

.p-pending-row {
  color: #e35d6a;
}

.p-pending-row-bd {
  background-color: #f8d7da;
}

.p-accept-row {
  color: #479f76;
}

.p-accept-row-bd {
  background-color: #d1e7dd;
}

.p-rs-id{
  max-width: 350px;
}

.p-rs-ad {
  max-width: 300px;
}

.a-font-size{
  font-size: 14px;
}

.p-font-size{
  font-size: 14px;
}

.a-icon {
  width: 10px !important;
  height: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.a-icon-pool-card {
  width: 55px !important;
  height: 55px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.a-activity {
  max-width: 60px;
}

.a-card-size {
  height: 250px;
}

.a-52vh {
  height: 52vh;
}

.a-pool-d-card-bg{
  background-color: #e9ecef;
}

.a-rs-id{
  max-width: 250px;
}

.a-rs-ad {
  max-width: 200px;
}

.a-rs-ds-id{
  max-width: 200px;
}

.a-rs-ds-ad {
  max-width: 150px;
}

.bd-gray-100 {
  color: #000;
  background-color: #f8f9fa
}

.bd-gray-200 {
  color: #000;
  background-color: #e9ecef
}

.bd-gray-300 {
  color: #000;
  background-color: #dee2e6
}

.bd-gray-400 {
  color: #000;
  background-color: #ced4da
}

.bd-gray-500 {
  color: #000;
  background-color: #adb5bd
}

.bd-gray-600 {
  color: #fff;
  background-color: #6c757d
}

.bd-gray-700 {
  color: #fff;
  background-color: #495057
}

.bd-gray-800 {
  color: #fff;
  background-color: #343a40
}

.bd-gray-900 {
  color: #fff;
  background-color: #212529
}